
.general{
    max-width: 600px;
    width: 800px;
    margin: 0 auto;
}

.tabla1{
    text-align: center;
    border: 10px;
    background-color: gray;
}

@media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
}